USE [Library]
GO
/****** Object:  Table [dbo].[tbl_Penalty]    Script Date: 13-12-2017 11:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Penalty](
	[StudentId] [nvarchar](50) NULL,
	[StudentName] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL
) ON [PRIMARY]

GO
